body
  background-color: backgroundColor;

.feedbacks__feedback
  margin: auto;
  width: 50%;
  background: #F7F7F7;

  .feedbacks__feedback-supporting
    color: #575757;
    display: flex;
    flex-direction: row;

    .feedbacks__feedback-avatar
      margin-right: 5px;

    .feedbacks__feedback-name
      color: #2196F3;

    .feedbacks__feedback-dates
      color: #ABABAB;

  .feedbacks__feedback-survey

    .feedbacks__feedback-survey-meh
      font-size: 24px;
      color: #F57F17;
      margin: auto;

    .feedbacks__feedback-survey-smile
      font-size: 24px;
      color: #4CAF50;
      margin: auto;

    .feedbacks__feedback-survey-title
      font-size: 24px;
      margin-left: 10px;

  .mdl-card__actions
    a
      color: #F44336;
      float: right;
      font-size: 11px;
