{
  /* herda todas as rules pra react e jsx */
  "extends": "airbnb",
  /*
    Interessante informar os ambientes
    pra não dar erro em variáveis globais como a window
    do navegador
  */
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "localStorageDB": true
  },
  /*
    Importante usar esse parser
    pra não lançar erro em funcionalidades
    ainda não implementadas na Spec como decorators
   */
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  /* Sobrescrevemos algumas rules do airbnb e do próprio eslint */
  rules: {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": 1,
    "import/no-extraneous-dependencies": 1,
    "new-cap": ["error", { "newIsCapExceptions": ["localStorageDB"] }]
  }
}
