

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

sign-in(color)
  color: color;
  cursor: auto;
  i
    font-size: 5em;

.user-session
  .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  .mdl-textfield--floating-label.is-dirty .mdl-textfield__label
    color: #FFC107;
    font-weight: bold;
    font-size: medium;

.card-login-register
  margin: 15px;

  .mdl-card__actions
    display: flex;
    justify-content: space-around;
    .google-signin
      sign-in(#db4437)
    .facebook-signin
      sign-in(#3b5998)
      cursor: none;
      opacity: 0.5;

  .mdl-card__supporting-text
    form
      .login-list
        baseColor
