.feedbacks
  margin: 15px;
  flex-basis: 40%;

  @media only screen and (max-device-width: 768px)
    flex-basis: 100%;


.feedback
  background: #f9f9f9;
  padding: 15px;

  .feedback-header
    display: flex;

    .feedback-period
      font-size: 1.5em;
      line-height: 1.8em;
      margin-left: 15px;
      color: #757575;

  .feedback-invited-list
    display: flex;
    flex-wrap: wrap;

    .invited-chip-disabled
      background-color: #BDBDBD!important;

      img
        opacity: 0.5;