.invite-header
  display: flex;
  flex-direction: row;

  > div
    margin: 10px;

  .invite-header__info
    display: flex;
    flex-direction: column;

    .invite-header__info-text
      font-size: 22px;
      color: #616161;
      line-height: 30px;

    .invite-header__info-period
      color: #212121;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
