body
  background-color: #FFEB3B;

.invites
  width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 15px;

  .invite
    margin-bottom: 30px;

    .invite-positive, .invite-negative
      font-size: 40px;

    .invite-negative
      color: #A1887F;

    .invite-positive
      color: #2196F3;
