.invites
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 55%;

.invite
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  margin-bottom: 10px;

  &-grid
    display: flex;

    .mdl-cell.mdl-cell--6-col
      flex-grow: 1;
      margin: 5px;

  icons = {
    font-size: 40px
  }

  &-negative
    {icons}
    color: #A1887F;

  &-positive
    {icons}
    color: #2196F3;
