.invites
  margin: 15px;
  display: flex;
  flex-direction: column;

.invite
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
  padding: 15px;

  .invite-positive, .invite-negative
    font-size: 40px;

  .invite-negative
    color: #A1887F;

  .invite-positive
    color: #2196F3;
