.brand-session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 315px;
  max-width: 560px;
  margin: auto;
  margin-top: 15px;
}
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.user-session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user-session .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.user-session .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: #ffc107;
  font-weight: bold;
  font-size: medium;
}
.user-session .card-login-register {
  margin: 15px;
}
.user-session .card-login-register .mdl-card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.user-session .card-login-register .mdl-card__actions .google-signin {
  color: #db4437;
  cursor: auto;
}
.user-session .card-login-register .mdl-card__actions .google-signin i {
  font-size: 5em;
}
.user-session .card-login-register .mdl-card__actions .facebook-signin {
  color: #3b5998;
  cursor: auto;
  cursor: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
}
.user-session .card-login-register .mdl-card__actions .facebook-signin i {
  font-size: 5em;
}
.user-session .card-login-register .mdl-card__supporting-text form .login-list baseColor,
.user-session .card-login-register .mdl-card__supporting-text form .login-list .mdl-list__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedbacks {
  margin: 15px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
@media only screen and (max-device-width: 768px) {
  .feedbacks {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.feedback {
  background: #f9f9f9;
  padding: 15px;
}
.feedback .feedback-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feedback .feedback-header .feedback-period {
  font-size: 1.5em;
  line-height: 1.8em;
  margin-left: 15px;
  color: #757575;
}
.feedback .feedback-invited-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feedback .feedback-invited-list .invited-chip-disabled {
  background-color: #bdbdbd !important;
}
.feedback .feedback-invited-list .invited-chip-disabled img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
}
body {
  line-height: normal;
  line-height: initial;
  font-family: Roboto;
  background-color: #ffeb3b;
}
#app__spinner {
  margin: auto;
  width: 200px;
  font-family: Roboto;
}
#app__spinner:before {
  content: "\263A";
  font-size: 200px;
}
#app__spinner > div {
  background-color: #333;
  height: 50px;
  width: 30px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
          animation: stretchdelay 1.2s infinite ease-in-out;
  margin: 5px;
}
#app__spinner .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
#app__spinner .rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
#app__spinner .rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
#app__spinner .rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.invite-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.invite-header > div {
  margin: 10px;
}
.invite-header .invite-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.invite-header .invite-header__info .invite-header__info-text {
  font-size: 20px;
  color: #616161;
  line-height: 30px;
}
.invite-header .invite-header__info .invite-header__info-period {
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}
.invites {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
@media only screen and (max-device-width: 768px) {
  .invites {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.invite {
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  margin-bottom: 10px;
}
.invite-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.invite-grid .mdl-cell.mdl-cell--6-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 5px;
}
.invite-negative {
  font-size: 40px;
  color: #a1887f;
}
.invite-positive {
  font-size: 40px;
  color: #2196f3;
}
.feedbacks-menu__refresh {
  padding: 0;
}
.feedbacks-menu__refresh i {
  margin-top: 20px;
}
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-device-width: 768px) {
  .profile .feedbacks {
    display: none;
  }
}
